<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: 700;">
      Avians Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Hero section -->
  <div class="hero-section">
    <img src="assets/bird-removebg-preview.png" />
    <h2>Discover Aves</h2>
    <p class="subtitle">
      Explore species information before starting your field observations.
    </p>
  </div>





  <!-- FEATURED SECTION -->
  <h3>Featured Species</h3>

  <!-- ACCORDION LIST -->
  <ion-accordion-group expand="inset">

    <ion-accordion *ngFor="let bird of birdList">

      <!-- Header -->
      <ion-item slot="header">
        <ion-label style="font-weight: 700;">
          {{ bird.name }}
          <div style="font-size: 13px; font-weight: 500; color:#2C3E50; opacity:0.8; margin-top:4px;">
            {{ bird.indoName }}
          </div>
        </ion-label>
      </ion-item>

      <!-- Content -->
      <div slot="content" class="ion-padding">

        <img [src]="bird.photo">

        <!-- Trait -->
        <p>{{ bird.trait }}</p>

        <!-- Habitat chip -->
        <ion-chip color="primary" outline="true">
          {{ bird.habitat }}
        </ion-chip>

      </div>

    </ion-accordion>

  </ion-accordion-group>

  <!-- Button go to map -->
  <ion-button expand="block" routerLink="/maps" class="start-btn">
    Start Observing
  </ion-button>

</ion-content>
