<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Badge -->
  <ion-text color="secondary">
    <h2>Badge Components</h2>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="end">22</ion-badge>
      <ion-label>Badge in end slot</ion-label>
    </ion-item>
  </ion-list>

  <!-- Breadcrumbs -->
  <ion-text color="secondary">
    <h2>Breadcrumbs Components</h2>
  </ion-text>
  <ion-breadcrumbs>
    <ion-breadcrumb href="#home">Home</ion-breadcrumb>
    <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
    <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
    <ion-breadcrumb href="#film">Film</ion-breadcrumb>
  </ion-breadcrumbs>

  <!-- Button -->
  <ion-text color="secondary">
    <h2>Button Components</h2>
  </ion-text>

  <!-- Color Variants -->
  <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <!-- Fill Variants -->
  <ion-button>Default</ion-button>
  <ion-button fill="clear">Clear</ion-button>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="solid">Solid</ion-button>

  <!-- Icon Only -->
  <ion-button size="small">
    <ion-icon slot="icon-only" ios="logo-apple" md="settings-sharp"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon slot="icon-only" ios="logo-apple" md="settings-sharp"></ion-icon>
  </ion-button>
  <ion-button size="large">
    <ion-icon slot="icon-only" ios="logo-apple" md="settings-sharp"></ion-icon>
  </ion-button>

  <!-- Icon Start -->
  <ion-button size="small">
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>
  <ion-button size="large">
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>

  <!-- Icon End -->
  <ion-button size="small">
    Right Icon
    <ion-icon slot="end" name="heart"></ion-icon>
  </ion-button>
  <ion-button>
    Right Icon
    <ion-icon slot="end" name="heart"></ion-icon>
  </ion-button>
  <ion-button size="large">
    Right Icon
    <ion-icon slot="end" name="heart"></ion-icon>
  </ion-button>

  <!-- Card -->
  <ion-text color="secondary">
    <h2>Card Components</h2>
  </ion-text>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content.
      Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <!-- Checkbox -->
  <ion-text color="secondary">
    <h2>Checkbox Components</h2>
  </ion-text>
  <ion-checkbox>I agree to the terms and conditions</ion-checkbox>

  <!-- Datetime -->
  <ion-text color="secondary">
    <h2>Datetime Components</h2>
  </ion-text>
  <ion-datetime></ion-datetime>

  <!-- Floating Action Button -->
  <ion-text color="secondary">
    <h2>Floating Button Components</h2>
  </ion-text>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Input -->
  <ion-text color="secondary">
    <h2>Input Components</h2>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-input label="Text input" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Number input" type="number" placeholder="000"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password input" type="password" value="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telephone input" type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Action Sheet -->
  <ion-text color="secondary">
    <h2>Action Sheet Components</h2>
  </ion-text>
  <ion-button id="open-action-sheet">Open</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons">
  </ion-action-sheet>

</ion-content>
